---
import Card from "../../components/Card.astro";
import ImageCard from "../../components/ImageCard.astro";
import Textcard from "../../components/Textcard.astro";
import Button from "../../components/Button.astro";
import blogs from "../../data/blogs.json";
---

<p
  class="text-base md:text-3xl font-normal md:font-semibold text-center md:text-left mb-3"
>
  Blogs
</p>
<Card>
  <div class="grid md:grid-cols-2 gap-4">
    {
      blogs.map((blog) => {
        return blog.image ? (
          <ImageCard
            classes="grid md:grid-cols-1 row-span-2"
            title={blog.title}
            summary={blog.summary}
            image={blog.image}
          />
        ) : (
          <Textcard
            classes="grid md:grid-cols-1 gap-4"
            title={blog.title}
            summary={blog.summary}
          />
        );
      })
    }
  </div>
  <Card classes="col-span-2 grid content-center pb-0" hideDropShadow>
    <Button classes="md:w-2/12 mx-auto" text="Read More" />
  </Card>
</Card>
