---
interface Props {
  classes?: string;
  title?: string;
  summary?: string;
  image?: string;
  link?: string;
}

const { classes, title, summary, image, link } = Astro.props;
---

<div
  class=`rounded-lg bg-no-repeat bg-cover bg-top text-white md:min-h-[22.25rem] ${classes}`
  style=`background-image: url("${image}")`
>
  <div
    class="rounded-lg md:rounded-b-lg bg-cyan-950 md:bg-transparent bg-none md:bg-gradient-to-t from-cyan-950 from-40% to-transparent to-80% p-4 grid gap-4 content-end"
  >
    <p
      class="text-base md:text-xl font-normal md:font-semibold text-center md:text-left"
    >
      <a href={link}>
        {title}
      </a>
    </p>
    <p class="line-clamp-4">
      {summary}
    </p>
  </div>
</div>
