---
import Pill from "./Pill.astro";

interface Props {
  classes?: string;
  title?: string;
  link?: string;
  summary?: string;
  image?: string;
  technologies?: string[];
}

const { classes, title, link, summary, image, technologies } = Astro.props;
---

<!-- TODO: Use better approach following semantics -->
<a
  class=`rounded-lg bg-slate-100 grid md:min-h-[10rem] p-4 place-items-start flex ${classes ?? ''}`
  href={link}
>
  {image ? <img src={image} class="rounded-lg" /> : null}

  <div class="p-4 flex flex-col justify-center">
    <p class="font-bold">
      {title}
    </p>
    <p class="line-clamp-2">
      {summary}
    </p>
    <div
      class="flex flex-wrap text-sm md:text-base font-extralight text-center"
    >
      {
        technologies?.map((technology) => {
          return <Pill classes="bg-white mr-2 md:mx-0" value={technology} />;
        })
      }
    </div>
  </div>
</a>
