---
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";

interface Props {
  title?: string;
  description?: string;
  url?: string;
  image?: string;
}

const { title, description, url, image } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body
    class="bg-slate-100 p-8 md:p-16 text-gray-700 antialiased text-sm md:text-base font-light"
  >
    <div class="grid md:grid-cols-4 gap-4 mb-16">
      <Card classes="col-span-4 md:col-span-4 grid content-center">
        <p class="text-lg md:text-4xl font-bold">Miluckshan J. Vidyajayan</p>
        <p class="text-base md:text-lg font-normal">Senior Software Engineer</p>
        <p>Engineering solutions to transform ideas into reality</p>
      </Card>
      <Navigation />
    </div>
    <slot />
  </body>
</html>
<style is:global></style>
